@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.input {
  @apply border-2 rounded-md border-[#838282] focus:border-[#1f1f1f] pl-1 outline-none text-[#1f1f1f] mb-2 w-full py-2;
}

.textarea {
  @apply border-2 rounded-md border-[#838282] focus:border-[#1f1f1f] pl-1 outline-none text-[#1f1f1f] mb-2 w-full max-h-[200px] min-h-[100px] h-[100px] py-2;
}

.hOneHeader {
  @apply mb-4 font-bold text-xl;
}

.btn-primary {
  @apply dark:bg-white bg-[#1f1f1f] text-white dark:text-[#1f1f1f] px-6 py-2 rounded-lg outline-none font-semibold my-2 disabled:cursor-not-allowed disabled:bg-[#b3b3b355] disabled:text-[#1f1f1f] disabled:dark:text-white;
}

.centerClass {
  @apply flex items-center justify-center absolute top-1/2 left-1/2 -translate-x-1/2;
}

.grid-container {
  display: grid;
  grid-template-columns: 20vw auto;
  height: 100vh;
}

.productImages {
  @apply w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 border rounded-lg dark:border-white border-[#1f1f1f] object-cover;
}

.selfProductImage {
  @apply w-full h-full flex justify-center items-center overflow-hidden text-[10px] md:text-sm text-center flex-col object-cover rounded-lg;
}

.basic {
  @apply w-full shadow-lg rounded-md;
}

.basic thead tr th,
.basic thead tr td {
  @apply uppercase border md:text-lg dark:border-gray-200 border-black px-4 py-2;
}

.basic tbody tr td {
  @apply px-4 py-1 dark:border-gray-50 border-black border;
}

.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
